services:
  postgres:
    image: postgres:12
    environment:
      POSTGRES_DB: hw02
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 567234
    ports:
      - "5432:5432"

  app:
    build: .
    environment:
      DB_URL: "postgresql+psycopg2://postgres:567234@postgres:5432/hw02"
    ports:
      - "3000:8000"
    depends_on:
      - postgres
