# version: "3"
services:
  postgres:
    image: postgres:12
    environment:
      POSTGRES_DB_FILE: /run/secrets/db_name
      POSTGRES_USER_FILE: /run/secrets/db_user
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
    secrets:
      - db_name
      - db_user
      - db_password
    ports:
      - "5432:5432"

  app:
    build: .
    environment:
      POSTGRES_DB_FILE: /run/secrets/db_name
      POSTGRES_USER_FILE: /run/secrets/db_user
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
    secrets:
      - db_name
      - db_user
      - db_password
    ports:
      - "3000:8000"
    depends_on:
      - postgres

secrets:
  db_name:
    file: ./secrets/db_name.txt
  db_user:
    file: ./secrets/db_user.txt
  db_password:
    file: ./secrets/db_password.txt
